<div>
  <label>Name:</label>
  <input type="text" placeholder="Enter a name here" [value]="name" (input)="name = $any($event.target).value">
  <input type="text" placeholder="Enter a name here" [ngModel]="name" (ngModelChange)="name = $event">
  <input type="text" placeholder="Enter a name here" [(ngModel)]="name">
  <!--
    [()] Banana in a box
    Utilisable si :
    - [idenditifiant]
    - (identitifiant + Change)
    - [] recoit une variable
    - () remonte $event dans cette variable
  -->
  <hr>
  <h1>Hello {{ name }}!</h1>
</div>


<!--
  Exercice 1 :
  - afficher la propriété name entre Hello et !
  - afficher la propriété name dans le champ input
  - écouter la saisie dans le champ et modifier la valeur de name en conséquence
  (donc l'UI doit se raffraichir tout seule)
-->
